# Дашборд для анализа поведения пользователей приложения

Задача:
1. Набор №1
    1. Постройте диаграмму распределения количества событий по типу события.
    2. Добавьте индикатор количества пользователей.
    3. Добавьте фильтр дашборда по дате совершения события.
2. Набор №2
    1. Постройте диаграмму, отображающую количество событий по дням.
    2. Постройте гистограмму, отображающую количество пользователей, пришедших из разных источников.
    3. Добавьте фильтр дашборда по типу события.

Датасет содержит данные о событиях, совершенных в мобильном приложении "Ненужные вещи". В нем пользователи продают свои ненужные вещи, размещая их на доске объявлений.

В датасете содержатся данные пользователей, впервые совершивших действия в приложении после 7 октября 2019 года.

Колонки в *mobile_sources.csv*: 

- `userId` — идентификатор пользователя,
- `source` — источник, с которого пользователь установил приложение.

Колонки в *mobile_dataset.csv*:

- `event.time` — время совершения,
- `user.id` — идентификатор пользователя,
- `event.name` — действие пользователя.

Виды действий:

- `advert_open` — открыл карточки объявления,
- `photos_show` — просмотрел фотографий в объявлении,
- `tips_show` — увидел рекомендованные объявления,
- `tips_click` — кликнул по рекомендованному объявлению,
- `contacts_show` и `show_contacts` — посмотрел номер телефона,
- `contacts_call` — позвонил по номеру из объявления,
- `map` — открыл карту объявлений,
- `search_1`—`search_7` — разные действия, связанные с поиском по сайту,
- `favorites_add` — добавил объявление в избранное.

In [1]:
# импортируем библиотеки
import pandas as pd
mobile_sources = pd.read_csv('https://code.s3.yandex.net/datasets/mobile_sources.csv')
mobile_dataset = pd.read_csv('https://code.s3.yandex.net/datasets/mobile_dataset.csv')
display (mobile_sources.head())
display (mobile_dataset.head())
mobile_sources = mobile_sources.rename(
    columns = {'userId': 'user_id', 'source': 'source'})
mobile_dataset = mobile_dataset.rename(
    columns = {'event.time': 'event_time', 'event.name': 'event_name', 'user.id': 'user_id'})
#обьединим датасеты
df = mobile_sources.merge(mobile_dataset, on='user_id')
#приведение данных к необходимым типам
df['event_time'] = pd.to_datetime(df['event_time'])
display (df.head())
display (df.info())

#импортируем фрейм в файл mobile_dataset.csv
df.to_csv(r'C:\Users\Mlkhall\Documents\DA\mobile.csv')

                                 userId  source
0  020292ab-89bc-4156-9acf-68bc2783f894   other
1  cf7eda61-9349-469f-ac27-e5b6f5ec475c  yandex
2  8c356c42-3ba9-4cb6-80b8-3f868d0192c3  yandex
3  d9b06b47-0f36-419b-bbb0-3533e582a6cb   other
4  f32e1e2a-3027-4693-b793-b7b3ff274439  google

,event.time,event.name,user.id
0,2019-10-07 00:00:00.431357,advert_open,020292ab-89bc-4156-9acf-68bc2783f894
1,2019-10-07 00:00:01.236320,tips_show,020292ab-89bc-4156-9acf-68bc2783f894
2,2019-10-07 00:00:02.245341,tips_show,cf7eda61-9349-469f-ac27-e5b6f5ec475c
3,2019-10-07 00:00:07.039334,tips_show,020292ab-89bc-4156-9acf-68bc2783f894
4,2019-10-07 00:00:56.319813,advert_open,cf7eda61-9349-469f-ac27-e5b6f5ec475c

,user_id,source,event_time,event_name
0,020292ab-89bc-4156-9acf-68bc2783f894,other,2019-10-07 00:00:00.431357,advert_open
1,020292ab-89bc-4156-9acf-68bc2783f894,other,2019-10-07 00:00:01.236320,tips_show
2,020292ab-89bc-4156-9acf-68bc2783f894,other,2019-10-07 00:00:07.039334,tips_show
3,020292ab-89bc-4156-9acf-68bc2783f894,other,2019-10-07 00:01:27.770232,advert_open
4,020292ab-89bc-4156-9acf-68bc2783f894,other,2019-10-07 00:01:34.804591,tips_show

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74197 entries, 0 to 74196
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     74197 non-null  object
 1   source      74197 non-null  object
 2   event_time  74197 non-null  datetime64[ns]
 3   event_name  74197 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 2.8+ MB

None

Ссылка на дашборт в Tableau Public
https://public.tableau.com/app/profile/mlkhall/viz/mobile_analysis/sheet3?publish=yes


Ссылка на презентацию
https://disk.yandex.ru/i/5gcjk4r5HumOcw